@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/Source_Sans_Pro/SourceSansPro-Black.ttf") format("truetype");
    src: url("../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf") format("truetype");
    src: url("../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf") format("truetype");
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* Navigation */

header {
    display: flex;
    align-items: center;
}

nav {
    margin-left: 30px;
}

nav li {
    font-size: 20px;
    display: inline-block;
    color: #0A3641;
}

nav a {
    color: #0A3641;
    font-family: "Source Sans Pro Black";
    text-decoration: none;
    text-transform: uppercase;
    padding: 30px;
}

nav li:hover {
    text-decoration: underline;
    }

nav ul {
    padding: 0px;
}

.logo {
    width: 180px;
    padding: 10px;
}


/* Header Module */

.module-one,
.module-3 {
    margin: 40px 0px 50px 0px;
    display: flex;
}

.img-one {
    width: 50%;
}

.shop-now {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.shop-now .btn {
    position: absolute;
    bottom: 10%;
    right: 100%;
    transform: translate(-130%, -80%);
    background-color: #8C3723;
    color: #ffffff;
    font-family: "Source Sans Pro Black";
    padding: 5px 80px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.shop-now .btn:hover {
    text-decoration: underline;
}

/* Module two */

.img-women,
.img-hikinggear,
.img-men {
    width: 300px;
    height: 400px;
    margin-left: 80px; 
    margin-top: 50px;
}

.module-two {
    display: flex;
    margin-left: 100px; 
}

h1 {
    font-family: "Source Sans Pro Light";
    color: #0A3641;
    text-align: center;
    margin: 60px 25%;
    font-size: xx-large;
}

/* Module 3 */

.img-module3,
.text-module3 {
    height: 500px;
    width: 50%;
}

/* Module 4 */

.img-module4 {
    max-width: 1100px;
    margin-left: 10%;
    margin-top: 50px;
    margin-bottom: 100px;
}

/* Footer */

footer {
    background-color: #0A3641;
    color: white;
    font-family: "Source Sans Pro Black";
    display: flex;
    width: 100vw;
    text-transform: uppercase;
}

footer a {
    color: white;
    font-family: "Source Sans Pro Regular";
    display: block;
    padding: 0px 10px;
}

footer a:hover {
    text-decoration: underline;
    }

.footer-1,
.footer-2,
.footer-3 {
    padding: 20px 80px;
    padding-bottom: 40px;
}

.footer-4 {
    padding: 10px 150px;
}

h2 {
    padding: 10px;
}


    
    